body{ background-image: url("123.jpg");
  height: 100%;
  text-align:center;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
h1{
color:white;
}