{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH PROPERTY</title>
    <link rel="stylesheet" href="{% static 'hassan.css' %}">
</head>
<body>
<h1>DREAM HOME PROPERTY DEALERS</h1>
<h2 style="color:white;">SEARCH A PROPERTY</h2>
<form method="post" action="search_result">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h2 style="color:white;">Please provide property number : </h2>
    <input type="text" name="pr_no" size="30" style="height:30px">
    <input type="submit" value="Find" style="height:30px; width:100px">
    <br>
    <br>
     <a href="logout"><input type="button" value="Logout" style="height:30px; width:200px"></a>
    {% else %}
    <h1>Please Login First...</h1>
    <a href="login"><input type="button" value="Login"></a>
    {% endif %}
    <h3>THIS PROJECT IS DESIGNED BY HASSAN ALI<br> 302-2017 <br> BSSE 5th A</h3>
</form>
</body>
</html>